<ion-content no-padding class="main-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding: 0 6px;">

        <ion-grid class="box-wrapper">
            <ion-row>
                <ion-col>
                    <ion-img src="../../../assets/images/logo.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="login-label">Login</ion-label>
                </ion-col>
            </ion-row>
            <ion-row no-padding class="container mb-20">
                <ion-col no-padding style="text-align: center">
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating">Your Email</ion-label> -->
                        <ion-input type="Email" placeholder="Your Email" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding class="container mb-20">
                <ion-col no-padding>
                    <ion-item no-padding class="form-control">
                        <!-- <ion-label position="floating">Your Password</ion-label> -->
                        <ion-input type="password" placeholder="Your Password" formControlName="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="container mb-10">
                <ion-col>
                    <ion-button class="login-button btn btn-danger text-uppercase" type="submit"
                        [disabled]="!loginForm?.valid">
                        LogIn
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>