:host {
    .main-wrapper {
        height: 100vh;
        overflow: auto;
        position: relative;
    }
    .box-wrapper {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0%, -50%);
        
    }
    ion-img {
        width: 120px;
        height: auto;
        margin: 0 auto;
    }
    .login-label {
        padding: 10px;
        font-style: normal;
        font-weight: bolder;
        margin: 20px 0px 8px 0;
        display: block;
        font-family: 'Lato-Bold' !important;
        font-size: 20px;
        text-transform: uppercase;
    }
    .login-button {
        --background: -webkit-linear-gradient(90deg, #F10010 0%, #F10010 100%) !important;
        color: #fff;
        font-size: 17px;
    }
    .btn-danger {
        --background: #e01212 !important;
        color: #fff;
    }
    .btn.btn-primary {
        --background: #1636a3 !important;
        color: #fff;
    }
    ion-row {
        justify-content: center;
    }
    ion-col {
        text-align: center;
    }
    ion-label {
        color: white;
    }
    // ion-button{
    //     background: #F10010;    
    // }
    //background: #010B17;
}