<ion-content>
    <ion-grid class="top">
        <ion-row no-padding class="user-img-block">
            <ion-col size="5.5">
                <ion-label class="font-bold">Helipad</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col *ngIf="this.user.user.todaySchedule" size="5.5">
                <ion-label class="ion-label2">{{this.user.user.todaySchedule.PlaceName}}</ion-label>
            </ion-col>
            <ion-col *ngIf="!this.user.user.todaySchedule" size="5.5">
                <ion-label class="ion-label2">Not Assign</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button class="btn btn-danger text-uppercase" (click)="Scan()">
        Start Scan
    </ion-button>
</ion-content>