:host {
    ion-content {
        --background: #ebebeb;
        text-align: center;
        position: relative;
        height: 100%;
    }
    .top {
        background: #010b17;
        min-height: 150px;
        position: relative;
    }
    ion-row {
        text-align: center;
        ion-col {
            ion-label {
                color: white;
            }
        }
    }
    .user-img-block {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: auto;
        transform: translate(0%, -50%) !important;
    }
    .grid-block {
        background: #FFF;
        margin: 10px;
        border-radius: 7px;
        box-shadow: 0px 0px 2px 2px #ccc;
        padding: 15px;
    }
    .font-bold.tilte {
        font-size: 17px;
        margin-bottom: 15px;
        display: block;
    }
    .btn {
        max-width: 210px;
        width: 100%;
        font-family: 'Lato';
        font-size: 20px !important;
        height: 46px;
        font-weight: bolder;
        --background: #F10010;
        border-radius: 8px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}