:host {
    ion-select {
        color: #000 !important; //placeholder color
    }
    ion-content {
        --background: #ebebeb
    }
    .top {
        padding: 20px 0px;
        background: #010B17;
    }
    .drop-down {
        padding: 20px 0px;
    }
    ion-row {
        text-align: center;
        ion-col {
            ion-label {
                color: white;
            }
        }
    }
    .p-rating-box {
        text-align: center;
        margin-top: 5px !important;
        height: 20px;
        margin-top: 5px;
    }
    .margin-bottom-10 {
        margin-bottom: 10px;
    }
    .title-box {
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        color: #010B17 !important;
    }
    .route-title-box {
        border: 2px solid #000;
        border-radius: 7px;
        padding: 5px !important;
        margin: 20px 4px !important;
        margin-top: 0px !important;
    }
    .route-title-box.margin-bottom-5 {
        margin-bottom: 9px !important;
    }
    .form-block {
        padding: 0 6px;
        widows: 100% !important;
        display: block !important;
        height: 67vh;
        position: relative;
    }
    .form-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .user-img-box {
        width: 92px !important;
        height: 92px !important;
        border: 2px solid #4c85ba;
        border-radius: 50%;
        margin: 0 auto;
        background-color: #ffffff;
        overflow: hidden;
    }
    .user-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 7px;
    }
    .assign-button {
        --background: -webkit-linear-gradient(90deg, #F10010 0%, #F10010 100%) !important;
        color: #fff;
        font-size: 17px;
    }
    .custom-select-box {
        border: 2px solid #000;
        border-radius: 7px;
        margin: 5px auto;
        text-align: left;
        color: #000;
        font-size: 15px;
        font-weight: bold;
    }
    .btn {
        max-width: 100%;
        font-size: 17px !important;
        height: 45px;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 20px;
        --background-hover: #df1111;
    }
    .header-box {
        position: relative;
    }
    .logout-btn {
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 999;
    }
    .back-button {
        position: absolute;
        left: 0px;
        top: 2px;
    }
}