<ion-header>
    <ion-toolbar class="header-box">
        <ion-buttons class="back-button">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">Scan {{!isPilot?'User':'Pilot'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding class="header-block">

    <div *ngIf="this.scanData == undefined" style="margin: 10px; font-size: 18px !important;"> Please wait </div>

    <ion-grid class="top" *ngIf="this.scanData != undefined">
        <ion-row class="user-img-block">
            <ion-col>
                <ion-img class="user-img-box" style="height: 80px;" src="{{scanData?.customer_details?.UserPic}}">
                </ion-img>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-name">
            <ion-col no-padding>
                <ion-label>{{scanData?.customer_details?.firstname}} {{scanData?.customer_details?.lastname}}
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-mail" *ngIf="isPilot">
            <ion-col *ngIf="scanData?.customer_details?.Rattings == 0" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="scanData?.customer_details?.Rattings == 1" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="scanData?.customer_details?.Rattings == 2" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="scanData?.customer_details?.Rattings == 3" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="scanData?.customer_details?.Rattings == 4" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-w.png"></ion-img>
            </ion-col>
            <ion-col *ngIf="scanData?.customer_details?.Rattings == 5" no-padding class="p-rating-box">
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
                <ion-img class="p-rating" src="../../../assets/images/star-fil-w.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <form [formGroup]="assignForm" (ngSubmit)="AssignClick()" class="form-block" *ngIf="this.scanData != undefined">
        <ion-grid class="drop-down container form-box">
            <ion-row class="route-title-box margin-bottom-5">
                <ion-col *ngIf="!isPilot && this.user.user.todaySchedule">
                    <ion-label class="title-box">From Ride : {{this.user.user.todaySchedule.PlaceName}}
                    </ion-label>
                </ion-col>
                <ion-col *ngIf="isPilot">
                    <ion-label class="title-box">Assign Route : {{scanData.route.RouteTitle}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="route-title-box margin-bottom-5">
                <ion-col *ngIf="!isPilot && this.user.user.todaySchedule">
                    <ion-label class="title-box">Bag Size: {{scData.BagSize}}
                    </ion-label>
                </ion-col>

            </ion-row>
            <ion-row class="route-title-box margin-bottom-5">
                <ion-col *ngIf="!isPilot && this.user.user.todaySchedule">
                    <ion-label class="title-box">Bag Name : {{scData.bag_name}}
                    </ion-label>
                </ion-col>

            </ion-row>
            <ion-row *ngIf="!isPilot">
                <ion-col *ngIf="!isPilot">
                    <ion-select formControlName="route" class="custom-select-box" interface="action-sheet" placeholder="To Ride">
                        <ion-select-option *ngFor="let route of scanData.route_detail_list" value="{{route.RouteDetailID}}">{{route.PlaceName}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-select formControlName="helicopter" class="custom-select-box" interface="action-sheet" placeholder="Helicopter">
                        <ion-select-option *ngFor="let helic of scanData.helicopter_list" value="{{helic.HelicopterID}}">{{helic.HelicopterNo}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button class="assign-button btn btn-danger text-uppercase" type="submit" [disabled]="!assignForm?.valid">
                        Assign
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>

</ion-content>