<ion-content (click)="dismissModal()" scrollX="false" scrollY="false">
    <ion-grid class="iss-signaturepad-container">
        <ion-row>
            <ion-col>
                <h4 class="title">Thank You !</h4>
                <ion-label class="content">
                    Assigned successfully!!
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="mb-10">
            <ion-col>
                <ion-button class="home-button btn btn-danger text-uppercase" type="submit" (click)="goToHome()">
                    Go Dashboard
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>