<ion-content>
    <ion-grid class="top">
        <ion-row class="user-img-block">

            <ion-col>
                <ion-img class="user-img-box" src="{{this.user.user.UserPic}}"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-name">
            <ion-col no-padding>
                <ion-label>{{this.user.user.firstname}} {{this.user.user.lastname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-mail">
            <ion-col no-padding>
                <!-- <star-rating [rating]="5" checkedcolor="white" uncheckedcolor="white" size="30px" readonly="true">
                </star-rating> -->
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="details grid-block mt-20">
        <ion-row class="user-img-block">
            <ion-col size="4">
                <ion-label class="font-bold">First Name</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.firstname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-img-block">
            <ion-col size="4">
                <ion-label class="font-bold">Last Name</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.lastname}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-mail">
            <ion-col size="4">
                <ion-label class="font-bold">Email</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.email}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-mail">
            <ion-col size="4">
                <ion-label class="font-bold">Mobile No.</ion-label>
            </ion-col>
            <ion-col size="0.5">
                <ion-label>:</ion-label>
            </ion-col>
            <ion-col size="7.5">
                <ion-label class="ion-label2">{{this.user.user.mobileno}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="details-2 grid-block mt-20">
        <ion-row class="user-img-block">
            <ion-col>
                <ion-label class="font-bold tilte title-box">Shedule List :</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-img-block">
            <ion-col *ngIf="this.user.user.scheduleData?.length != 0">
                <app-expandlist *ngFor="let schedule of this.user.user.scheduleData" isShow="{{ schedule.isShow }}" name="{{ schedule.date }}" [scheduleData]="schedule.data" (change)="captureName($event)"></app-expandlist>
            </ion-col>
            <ion-col *ngIf="this.user.user.scheduleData?.length == 0">
                <ion-label class="empty-list">
                    Assign Shedule Not Available!
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="details-2 grid-block mt-20">
        <ion-row class="user-img-block">
            <ion-col>
                <ion-label class="font-bold tilte">Bar Code</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="user-img-block">
            <ion-col>
                <ion-img src="../../../../assets/images/scan.png"></ion-img>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>