:host {
    ion-content {
        --background: #ebebeb
    }
    .top {
        background: #010B17;
    }
    .title-box {
        margin: 0px !important;
        font-size: 17px;
        margin-top: 5px !important;
    }
    ion-card-content {
        background: #FFFFFF;
        height: auto;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px 12px;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
    ion-row {
        text-align: center;
        ion-col {
            ion-img {
                height: 80px;
            }
            ion-label {
                color: white;
            }
        }
    }
    .empty-list {
        color: #010b17 !important;
        font-size: 25px !important;
        text-align: center !important;
        width: 100% !important;
        position: relative !important;
        top: 0% !important;
        left: auto;
        -webkit-transform: translate(0%, -50%) !important;
        transform: translate(0%, -50%) !important;
    }
    .user-img-box {
        width: 92px !important;
        height: 92px !important;
        border: 2px solid #4c85ba;
        border-radius: 50%;
        margin: 0 auto;
        background-color: #ffffff;
        overflow: hidden;
    }
    .user-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 7px;
    }
    .grid-block {
        background: #FFF;
        margin: 10px;
        border-radius: 7px;
        box-shadow: 0px 0px 2px 2px #ccc;
        padding: 5px;
    }
    .font-bold.tilte {
        font-size: 17px;
        margin-bottom: 15px;
        display: block;
    }
    .details {
        background: #FFF;
        margin: 10px;
        ion-row {
            text-align: center;
            ion-col {
                text-align: start;
                ion-img {
                    height: 80px;
                }
                ion-label {
                    color: #010B17;
                }
                .ion-label2 {
                    color: #a3a4a6;
                    margin-left: 10px;
                }
            }
        }
    }
    .details-2 {
        background: #FFF;
        margin: 10px;
        ion-row {
            ion-col {
                text-align: center;
                ion-img {
                    height: 150px;
                }
                ion-label {
                    color: #010B17;
                }
            }
        }
    }
    .mt-20 {
        margin-top: 20px;
    }
    .logout-btn {
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 999;
    }
    .header-box {
        position: relative;
    }
}