
<ion-content>
    <ion-list no-padding *ngIf="bookingList?.length > 0">

        <ion-card-content class="ion-no-padding" *ngFor="let book of bookingList" (click)="bookClick(book)">
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col size="6">
                        <ion-label class="font-bold">{{book.RouteTitle}}</ion-label>
                    </ion-col>
                    <ion-col align-self-end size="6">
                        <div class="date-block">
                            <ion-img class="address-date" src="../../../../assets/images/Calendar.png"></ion-img>
                            <ion-label class="date-content">{{book.RideDate}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="9">
                        <ion-label class="content">Helicopter #{{book.HelicopterNo}}</ion-label>
                    </ion-col>
                    <ion-col size="3">
                        <ion-label class="content">{{book.Status}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <ion-img class="address-date" src="../../../../assets/images/location.png"></ion-img>
                    </ion-col>
                    <ion-col size="9">
                        <ion-label>{{book.route_details[0].PlaceName}}</ion-label>
                        <ion-img class="forward-sine" src="../../../../assets/images/forward.png"></ion-img>
                        <ion-label>{{book.route_details[book.route_details.length-1].PlaceName}}</ion-label>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label class="type-color">{{book.Type=='C'?'User':'Pilot'}}</ion-label>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>

    </ion-list>
    <ion-card-content class="ion-no-padding" class="empty-list-box" *ngIf="bookingList?.length == 0">
        <ion-label class="empty-list" >
            Bookings Routes Not Available!
        </ion-label>
    </ion-card-content>
</ion-content>