:host {
    ion-content {
        --background: #ebebeb;
        padding: 10px;
    }
    ion-title {
        color: white
    }
    ion-list {
        margin: 10px;
        background: #ebebeb
    }
    ion-card-content {
        background: #FFFFFF;
        height: auto;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px 12px;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
    .type-color {
        color: red
    }
    .date-block {
        text-align: right;
    }
    .address-date {
        display: inline-block;
        width: 18px;
        vertical-align: middle;
    }
    .date-content {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
    }
    .font-bold {
        font-size: 17px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .content {
        display: block;
        padding: 0px;
        color: #000;
        font-size: 14px;
    }
    ion-label {
        padding: 0px;
        color: #000;
        font-size: 13px;
    }
    .forward-sine {
        display: inline-block;
        width: 13px;
        margin: 0px 11px;
    }
}