<ion-header>
    <ion-toolbar class="header-box">
        <ion-buttons class="back-button">
            <ion-back-button text="" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">{{selectname}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding class="header-block">
    <ion-grid class="top">
        <ion-row class="user-img-block">
            <ion-col>
                <ion-img class="user-img-box" src="../../../assets/images/avtar.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-name">
            <ion-col no-padding>
                <ion-label>Shaun Watson</ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding class="user-mail">
            <ion-col no-padding>
                <star-rating [rating]="5" checkedcolor="white" uncheckedcolor="white" size="30px" readonly="true"> </star-rating>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-content no-padding class="header-block">
    <ion-grid class="container">
        <ion-row>
            <ion-col>
                <h4 class="title">Thank You !</h4>
                <ion-label class="content">
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button class="assign-button btn btn-danger text-uppercase" type="submit" (click)="AssignClick()">
                    Go Dashboard
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>