:host {
    ion-select {
        color: #000 !important; //placeholder color
    }
    ion-content {
        --background: #ebebeb
    }
    .top {
        padding: 20px 0px;
        background: #010B17;
    }
    ion-row {
        text-align: center;
        ion-col {
            ion-img {
                height: 80px;
            }
            ion-label {
                color: #000;
            }
        }
    }
    .user-img-box {
        width: 92px !important;
        height: 92px !important;
        border: 2px solid #4c85ba;
        border-radius: 50%;
        margin: 0 auto;
        background-color: #ffffff;
        overflow: hidden;
    }
    .user-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 7px;
    }
    .assign-button {
        --background: -webkit-linear-gradient(90deg, #F10010 0%, #F10010 100%) !important;
        color: #fff;
        font-size: 17px;
    }
    .custom-select-box.md.hydrated {
        border: 2px solid #000;
        border-radius: 7px;
        margin: 5px auto;
        text-align: left;
        color: #000;
        font-size: 15px;
        font-weight: bold;
    }
    .btn {
        font-size: 17px !important;
        height: 45px;
        border-radius: 8px;
        overflow: hidden;
        --background-hover: #df1111;
        max-width: 190px;
    }
    .title {
        color: #de1213;
        font-size: 24px;
        font-family: 'Lato-Bold';
        margin: 0px;
        padding: 0px;
    }
    .content {
        font-size: 16px;
        color: #000;
        margin: 25px auto;
        display: block;
    }
    .header-box {
        position: relative;
    }
    .back-button {
        position: absolute;
        left: 0px;
        top: 2px;
    }
}