// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~css-star-rating/scss/star-rating";
ion-toolbar {
    --background: #010B17 !important;
    border: none;
    color: #fff !important;
    box-shadow: 0 0 5px #555;
    text-align: center;
    // @media (min-width: 768px) {
    //     height: 80px;
    //     align-items: center;
    //     justify-content: center;
    //     display: flex;
    // }
}

.show-modal {
    background: rgba(0, 0, 0, 0.45);
}

.star.positive i,
.rating.value-4 .star-container .star i,
.rating.value-5 .star-container .star i,
.rating.value-6 .star-container .star i,
.rating.value-7 .star-container .star i,
.rating.value-8 .star-container .star i,
.rating.value-9 .star-container .star i,
.rating.value-10 .star-container .star i,
.rating.value-11 .star-container .star i,
.rating.value-12 .star-container .star i,
.rating.hover:hover.hover-4 .star-container .star i,
.rating.hover:hover.hover-5 .star-container .star i,
.rating.hover:hover.hover-6 .star-container .star i {
    color: #FFF;
}

.empty-list-box {
    background: #fff !important;
    width: 100% !important;
    height: 100% !important;
    ;
    position: relative !important;
}

.empty-list {
    color: #010b17!important;
    font-size: 25px !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute !important;
    top: 43% !important;
    left: auto;
    transform: translate(0%, -50%) !important;
}

.modal-wrapper {
    --background: transparent;
    box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
    background-color: transparent;
    height: 35%;
    width: 80%;
    min-height: 50px;
    border-radius: 5px;
    @media (min-width: 768px) {
        height: 45%;
        width: 400px;
    }
}

ion-content {
    // --background: radial-gradient(circle closest-side at 50% 50%, #010B17 0%, #010B17 100%);
    --background: #010B17;
}

.p-rating-box {
    text-align: right;
    margin-top: 5px !important;
}

.p-rating-box .p-rating {
    height: auto;
    width: 100%;
    max-width: 17px;
    display: inline-block;
    margin-left: 5px;
}

.p-rating-box .p-rating:first-child {
    margin-left: 0px;
}

// ion-app {
//     // margin-top: env(safe-area-inset-top);
//     margin-bottom: env(safe-area-inset-bottom)
// }
.button-native {
    --padding-top: 2px !important;
}

.btn {
    max-width: 170px;
    width: 100%;
    font-family: 'Lato-Bold';
    font-size: 15px;
    height: 40px;
}

.btn.btn-round {
    border-radius: 40px !important;
    overflow: hidden;
}

.social-btn {
    max-width: 184px !important;
    font-size: 12px !important;
}

.text-normal {
    text-transform: none !important;
}

.font-bold {
    font-family: 'Lato-Bold';
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-right {
    text-align: right !important;
}

.form-control {
    --ion-background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
}

.container {
    width: 80% !important;
    margin: 0 auto;
}

.container-fluid {
    width: 100% !important;
    margin: 0 auto;
    padding: 0px 30px;
    display: block;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.margin-16-0 {
    margin: 16px 0px;
}

ion-title {
    padding: 0px 10px;
}

.logo {
    display: inline-block;
    width: 30px;
    margin-right: 5px;
}

.back-button.button {
    position: absolute;
    left: 0px;
}

.tab-selected {
    background-color: #df1111 !important;
    color: #fff !important;
}

.star-filled {
    color: #fff !important;
}

@media (max-width: 380px) {
    .container {
        width: 85% !important;
        margin: 0 auto;
    }
}

@media (max-width: 340px) {
    .container {
        width: 90% !important;
        margin: 0 auto;
    }
}