<ion-header>
  <ion-toolbar>
      <ion-title>
          <ion-grid no-padding class="header">
              <!-- <div class="back-button button"> -->
              <ion-buttons class="back-button button" no-padding>
                  <ion-back-button text="" defaultHref=""></ion-back-button>
              </ion-buttons>
              <!-- </div> -->
              <ion-row class="header-block">
                  <ion-col>
                      <div class="header-box text-center">
                          <!-- <ion-img class="logo" src="../../assets/images/header-logo.png"></ion-img> -->
                          <ion-label class="logo-title">{{bookRide.RouteTitle}}</ion-label>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="main-wrapper" no-padding>

  <ion-grid no-padding>
      <ion-row no-padding>
          <ion-col no-padding>
                  <!-- [ngStyle]="{'background-image':'url(' + route.CountryPic + ')'}" -->
              <ion-img src="{{bookRide.CountryPic}}"></ion-img>
              <!-- <ion-img src="../../../../../assets/images/route-detail.jpg"></ion-img> -->
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="content-block">
      <ion-row no-padding>
          <ion-col size="7">
              <ion-label class="text-justify">{{bookRide.RouteDesc}}</ion-label>
          </ion-col>
          <ion-col size="5" class="status-box"> 
              <ion-label class="font-bold" >Status : </ion-label>
              <ion-label class="status">{{bookRide.Status}}</ion-label>
          </ion-col>
      </ion-row>

      <!-- <ion-row no-padding>
          <ion-col class="text-justify">
             RouteDesc
          </ion-col>
      </ion-row> -->

      <ion-row no-padding class="helicopter-info">
        <ion-col size="12">
            <h4 class="class-route-title"> Helicopter Info </h4>
            <ion-label class="class-route-time"> Helicopter No : #{{bookRide.HelicopterNo}} </ion-label>
        </ion-col>
    </ion-row>

      <ion-row no-padding class="filter-block">
          <ion-col size="12">
              <h4 class="class-route-title"> {{bookRide.route_details.length}} flying points in route</h4>
              <ion-label class="class-route-time"> 6:00 AM to 6:00 PM (Monday to friday)</ion-label>
          </ion-col>
          <div class="filter-button">
              <ion-img class="filter-img" src="../../../../../assets/images/updown.png"></ion-img>
          </div>
      </ion-row>
  </ion-grid>

  <ion-list no-padding class="helicopter-list" >
      <ion-item class="list-block" *ngFor="let point of bookRide.route_details" >
          <ion-grid no-padding>
              <ion-row no-padding>
                  <ion-col no-padding size="2" class="list-img">
                      <ion-img class="helicopter-img" src="../../../../../assets/images/helicopter2.png"></ion-img>
                  </ion-col>
                  <ion-col no-padding class="list-box">
                      <div class="list-content-box">
                          <h4 class="list-heading">
                              <ion-img class="location-img" src="../../../../../assets/images/locaton2.png"></ion-img>
                             {{point.PlaceName}}
                          </h4>
                          <h5 class="list-content"> {{point.Lat}} N - {{point.Long}} E </h5>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>

  </ion-list>

</ion-content>