:host{
    ion-img{
        width: 20px;
        height: auto;
    }
    ion-tab-bar {
        --border:#FFFFFF;
        --color :#FFFFFF;
        // --background :#010B17;
    }
    ion-tab-button{
        --color-selected:#FF0000;
        --color :#FFFFFF;
        --background :#010B17;
        --background-focused  :#FF0000;
        justify-content: space-evenly;
    }

    .logout-btn {
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 999;
    }
    .header-box {
        position: relative;
    }
}