<ion-header>
  <ion-toolbar class="header-box">
      <ion-button *ngIf="isShow" class="logout-btn" (click)="logout()">Logout</ion-button>
          <ion-title class="text-center">{{tabName}}</ion-title>           
      </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs #myTabs color="primary" (ionTabsDidChange)="getSelectedTab()">

  <ion-tab-bar slot="bottom" >
    <ion-tab-button label="Scan" tab="scan" >
      <ion-img src="../../../assets/images/Scan2.png"></ion-img>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button label="Booking" tab="bookings" >
      <ion-img src="../../../assets/images/booking.png"></ion-img>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>

    <ion-tab-button label="Profile" tab="profile" >
      <ion-img src="../../../assets/images/profile.png"></ion-img>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
</ion-content>
